Assets/Resources/familiarize_schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="content">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="microBalance">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="item" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="key" type="xs:string"></xs:element>
										<xs:element name="listText" type="xs:string"></xs:element>
										<xs:element name="descriptionText" type="xs:string"></xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="semiMicroBalance">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="item" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="key" type="xs:string"></xs:element>
										<xs:element name="listText" type="xs:string"></xs:element>
										<xs:element name="descriptionText" type="xs:string"></xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>